.navbar {
    background: rgb(30,30,30);
    height: 5rem;
    width: 100%;  
    margin: 0 auto;  
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}


.logo{
    object-fit: cover;
    height:4rem;
    width: 10rem;
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover {
    color:#00C2F3;
    padding-bottom: 0.5 rem;
    border-bottom: 3px solid #00C2F3;
}

.desktopMenuImg {
    object-fit: cover;
    height: 1.5rem; 
    width: 1.5rem; 
    margin: 0; 
    display: inline-block; 
}

.desktopMenuBtn {
    background-color: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem; /* Adjusted padding for better height */
    border-radius: 2rem;
    cursor: pointer;
}

.desktopMenuBtn:hover {
    background-color: #00C2F3; /* Change to your desired color */
    font-weight: bold; /* Make text bold */
    transform: scale(1.05); 
}